:root {
    --main-light-color:#FFFFFF;

    --main-font-color:#212121;
    --secondary-font-color:#757575;
    --accent-color:#2196F3;
    --secondary-accent-color:#188CE8;
    --logo-color:#000000;

    --border-bg-color:#2F303A;
    --section-team-bg-color:#F5F4FA;
}








/* основной цвет текста color: #212121 */
/* вторичный цвет текста color: #757575 *
/* белый цыет color: #FFFFFF */
/* акцент color: #2196F3 */
/* футер номер и телефон color: rgba(255, 255, 255, 0.6); */

body {
    color: var(--main-font-color);
    background-color: var(--main-light-color);
    font-family:'Roboto', sans-serif ;

}



ul {
    list-style: none;
}

/* Logo */

.logo {
    color: var(--logo-color);
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-logo {
    color: var(--main-light-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* header */


/* Site nav */

.nav-link {
color: var(--main-font-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.nav-link-current {
    color: var(--accent-color);
    text-decoration: none;
}

.link {
    text-decoration: none;
}



.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link:current {
    color: var(--accent-color);
}

.nav-info {
color: var(--secondary-font-color);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.nav-info:hover,
.nav-info:focus {
color: var(--accent-color);
}


/* hero-section */

.hero-section {
    background-color: var(--border-bg-color);
}

.hero-section .title {
    color: var(--main-light-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
        
}

.hero-section .button {
    background-color:var(--accent-color) ;
    color:var(--main-light-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}

/* Studio button */

.button:hover, 
.button:focus {
    background-color: var(--secondary-accent-color);
    cursor: pointer;
}
/* Portfolio-button */

.portfolio-button {
    background-color: var(--section-team-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color:var(--accent-color);
    color:var(--main-light-color);
   
}

.portfolio-button:current{
    background-color: var(--accent-color);
}

/* benefits-section */

.benefits-section {
    background-color: var(--main-light-color);
    
}


.benefits-section .title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

.benefits-section .list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-section .text {
    color: var(--secondary-font-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* about-section */

.about-section {
    background-color: var(--main-light-color);
    
}

.about-section .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
/* team-section */

.team-section {
    background-color: var(--section-team-bg-color);
    
}

.team-section .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}


.team-section .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-section .position {
    color: var(--secondary-font-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-info {
    background-color: var(--main-light-color);
}
/* Portfolio section */

.portfolio-section .title {
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration:none
}

.portfolio-section .text {
    color: var(--secondary-font-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-decoration:none
}

.portfolio-section .link {
    text-decoration: none
}
/* footer */

.footer{
    background-color:var(--border-bg-color) ;
    color: var(--main-light-color);
}

.footer .adress {
color: var(--main-light-color);
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
}

.footer .info {
    color: var(--secondary-font-color);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer .adress:hover,
.footer .adress:focus {
color: var(--accent-color);
}

.footer .info:hover,
.footer .info:focus {
color: var(--accent-color);
}